Thumbs.db
*.aps
*.bak
*.cache
*.exe
*.pch
*.ilk
*.ipch
*_i.c
*.lib
*.log
*.obj
*.opensdf
*_p.c
*.ncb
*.pdb
*.rcp
*.sbr
*.sdf
*.suo
*.sln.docstates
*.tlb
*.tlh
*.vspscc
*.user
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
/packages
*.DotSettings
